$blue: #48bef0;

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  margin: 0;
  user-select: none;
  color: #5d5d5d;
  font-size: 10pt;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background-color: $blue;
}

.site {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;

  #youtube-music-list {
    flex: 1;
    overflow-y: scroll;
  }
}

#youtube-music-player {
  position: relative;
  overflow: hidden;
  background-color: black;

  #youtube {
    display: none;
  }

  .backdrop {
    position: absolute;
    top: -20%;
    left: -10%;
    width: 120%;
    height: 140%;
    z-index: 0;
    filter: blur(20px);
    opacity: .7;
  }

  .current-song {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 2;

    #artist-drawer {
      height: 100%;
      width: 0px;
      transition: all 350ms ease;
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      background-color: rgba(255,255,255,0.3);

      &.show {
        width: 300px;
      }

      .artist-image {
        margin: 0;

        img {
          object-fit: cover;
          width: 300px;
          height: 352px;
        }
      }

      .artist-name {
        z-index: 101;
        background-color: rgba(0,0,0,.5);
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 300px;
        font-size: 1.2rem;
        padding: 1rem;
      }
    }

    .song-cover {
      width: 256px;
      height: 256px;
      margin: 3em;
      box-shadow: 0 2px 6px rgba(0,0,0,0.5);

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .song-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      color: white;
      text-shadow: -1px -1px 0 rgba(0,0,0,.3);
    }

    .song-title {
      font-size: 1.4rem;
      font-weight: 400;
    }

    .song-artist {
      font-size: 1rem;
      font-weight: 300;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#youtube-music-list {
  background-color: white;

  .add-song {
    //background-color: $blue;
    border: 2px solid $blue;
    border-top: 0;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 1rem;
    padding: 0 1rem;
    height: 0px;
    transition: all 250ms ease;
    color: $blue;

    form {
      display: flex;
      padding-top: 1rem;
      
      input {
        flex: 1;
        background: white;
        border: 1px solif #f7f7f7;
        color: #555;
        font-size: .8rem;
        padding: .2rem .4rem;
        outline: none;
        display: block;
      }

      button {
        color: white;
        font-weight: 600;
        background-color: $blue;
        border: 0;
        padding: .5rem 1rem;
        display: block;
        margin-left: .5rem;
      }
    }

    &.show {
      height: 4rem;
    }
  }

  .add-song-button {
    background: $blue;
    color: #fff;
    border: 0;
    font-size: 1.2rem;
    margin: 0 1rem;
    padding: .5rem;
    outline: none;
  }

  .song-list {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    .song {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      padding: .5rem 1rem;
      transition: all 150ms ease;
      cursor: default;

      &:hover {
        color: black;
      }

      &:nth-child(odd) {
        background-color: #f7f7f7;
      }

      button {
        background: none;
        border: none;
        color: black;
        font-size: 1em;
        cursor: pointer;

        &:hover {
          color: blue;
        }
      }

      .artist {
        font-size: .8em;
        margin-left: .4em;
      }
    }
  }
}

#youtube-music-controller {
  display: flex;
  align-items: center;
  background-color: white;

  .toggle-play {
    color: #5b5b5b;
    border: 2px solid #5b5b5b;
    background: none;
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    outline: none;
  }

  .elapsed-time {
    font-size: .7rem;
    margin: 0 .5rem;
  }

  .progress-holder {
    flex: 1;
    position: relative;
    background-color: #dadada;
    height: 8px;

    .progress-bar {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: $blue;
    }
  }
}